.parceiro {
  padding-top: 60px;
  padding-bottom: 120px;
}
.parceiro h2 {
  margin-bottom: 60px;
}
.parceiro ul {
  padding: 0 20px;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}
.parceiro li {
  padding: 32px;
  display: flex;
  border-left: 2px solid var(--cor-2);
}
.parceiro img {
  margin: auto;
}
.parceiro li:first-child,
.parceiro li:nth-child(5) {
  border-left: none;
}
.parceiro li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-2);
}
@media (max-width: 800px) {
  .parceiro {
    padding-bottom: 60px;
  }
  .parceiro li {
    padding: 20px;
  }

  .parceiro h2 {
    margin-bottom: 20px;
  }
  .parceiro ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .parceiro li:nth-child(n + 3) {
    border-top: 2px solid var(--cor-2);
  }
  .parceiro li:nth-child(odd) {
    border-left: none;
  }
}
